{% extends "apiTests/index.html" %}
{% block js %}
    <script>
        $(function () {
            $('#J_Submit').click(function () {
                var postData = $('#form1').serialize();
                postData = decodeURIComponent(postData);//解码
                num = postData.indexOf('&');//&的下标
                postData = postData.substring(num + 1);//截取第一个&以后的字符,去除csrf
                $('.text1').val(postData);
                if (document.getElementById('form1').checkValidity()) {
                    $.ajax({
                        type: 'POST',
                        url:{{ postUrl }},
                        data: $('#form1').serialize(),
                        {#                    dataType: 'json',#}
                        success: function (data) {
                            $('.text2').val(JSON.stringify(data));
                        },
                        error: function () {
                            alert('ajax获取数据异常!');
                        }
                    });
                }
            })
        })
    </script>
{% endblock %}
{% block left %}
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="row clearfix">
                <form id='form1' onsubmit="return false">
                    {% csrf_token %}
                    <div class="col-md-6 column">
                        <h1>系统参数</h1>
                        <table class="t1">
                            {{ sysform.as_table }}
                        </table>
                        <button id="J_Submit" type="submit" class="btn">提交</button>
                    </div>
                    <div class="col-md-6 column">
                        <h1>其他参数</h1>
                        <table class="t1">
                            {{ otherform.as_table }}
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <textarea class="text1" readonly="readonly">
                    </textarea>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <textarea class="text2" readonly="readonly">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}