{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    <title>api接口测试</title>
{% endblock %}
{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apiTests/style.css' %}"/>
    {% block js %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="all">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-inverse top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand w1" href="/">返回首页</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <div class="main-menu">
                    <ul class="nav nav-list all-list">
                        {% for x,y in apis.items %}
                            <li class="nav-header menu-head">{{ x }}</li>
                            {% for i in y %}
                                <li><a href="{{ i.1 }}">{{ i.0 }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-10 column">
                {% block left %}
                    <p class="wel">
                        欢迎进入API测试系统
                    </p>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
