{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    <title>web测试系统集成环境</title>
{% endblock %}
{% block body %}
    <div class="content demo-1">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <ul class="main-title">
                <li><a href="{% url 'apis:index' %}">api接口测试</a></li>
                <li><a href="#">ccs测试数据生成</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block demojs %}
    <script src="{% static 'js/demo-1.js' %}"></script>
{% endblock %}
